:root {
    --header-height: 3.5rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el logo y el texto */
}

.logo-container img {
    width: 100px;  
    height: 50px; /
}

.hero-content button
{
    padding: 10px 20px; font-size: 16px; 
    border: none; 
    color: #333; 
    border-radius: 5px;
}

.column img
{
    margin-left: 120px;
}

.image.is-4by3 img {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 16%;
    transform: translateX(-50%);
}
