:root {
    --header-height: 3.5rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.logo-container img {
    width: 100px;  
    height: 50px; 
}

.hero-content button
{
    padding: 10px 20px; font-size: 16px; 
    border: none; 
    color: #333; 
    border-radius: 5px;
}

.column img
{
    margin-left: 120px;
}

.card img {
    width: 100%; 
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

/* Tablet */
@media (min-width: 768px) {


    .card img {
        width: 60px;
        height: auto;
    }



}


